footer{
    padding: 52px 0 0;
    background: rgba(21,27,57,.08);
    width: 100%;
    display: block;
    max-width: 1680px;
    min-width: 1030px;
    font-size: 12px;
    margin: 20px auto 0;
}
footer.footer-container{
    max-width: 1240px;
    min-width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
    display: flexbox;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
footer .footer-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
footer .footer-container ul li h2 {
    font-size: 12px;
    padding: 0;
    color: #333;
    text-transform: uppercase;
}
li {
    display: list-item;
    cursor: pointer;
}
footer .footer-container ul li a {
    color: rgba(51,51,51,.75);
    line-height: 22px;
    font-size: 12px;
}
footer.footer-container.subscribe{
    width: 284px;
    margin-left: 32px;
    padding-left: 32px;
    color: rgba(51,51,51,.75);
    border-left: 1px solid rgba(195,195,195,.5);
}
div{
    display: block;
}
span{
    display: inline-block;
    margin-bottom: 1rem;
    color: #333;
}
.para{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section.copyrights {
    display: flex;
    border-top: 1px solid rgba(195,195,195,.5);
    padding: 15px;
    margin-top: 30px;
    box-sizing: border-box;
}
section.copyrights .copyrights-container {
    max-width: 1030px;
    min-width: 1030px;
    margin: 0 auto;
}
section.copyrights p {
    font-size: 12px;
    margin: 0;
    float: left;
}
section.copyrights span {
    font-size: 12px;
    margin-left: auto;
    float: right;
}
.app{
    margin-right: 16px;
}