.sideBarContainer {
    background: rgba(0, 0, 0, 0.466);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -110%;
    z-index: 4;
    transition: 700ms cubic-bezier(0, 0.72, 0.54, 0.99);
    font-family: jioMedium;
}

.sideBarContainerActive {
    background: rgba(0, 0, 0, 0.466);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 4;
    transition: 700ms cubic-bezier(0, 0, 0.58, 1);
}

.sidebar {
    min-width: 200px;
    width: 23.5vw;
    background: white;
}

@media only screen and (max-width:600px) {
    .sidebar {
        width: 73vw;
    }
}

.sectionOverflow {
    height: calc(100vh - 101px);
    overflow-y: scroll;
}

.sidebar ul {
    padding: 0 0 0 0.8em;
    list-style-type: none;
}

.sidebar li {
    padding: 12px 16px 12px 16px;
}

.sectionOverflow>.sideBarsects:nth-of-type(2) {
    border-top: 0.5em solid#D5DBDB;
    border-bottom: 0.5em solid#D5DBDB;
}

.sectionOverflow>.sideBarsects:nth-of-type(1) a {
    display: block;
    color: black;
    font-family: jioLight;
}

.sectionOverflow>.sideBarsects:nth-of-type(2) a {
    display: block;
    color: black;
    font-family: jioLight;
}

.sidebar>.sideBarsects:nth-of-type(1) {
    background-color: #008ecc;
    color: white;
    padding: 0.4em 0.8em;
    font-family: jioMedium;
}

.sideBarsects:nth-of-type(1) a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.sideBarsects:nth-of-type(1)>div:nth-of-type(2) a {
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 0.3em 0;
}

.sideBarsects:nth-of-type(1)>div:nth-of-type(1) {
    padding: 0.5em 0;
    display: grid;

    grid-template-columns: 38px 1fr auto;
    justify-items: left;
    align-items: center;
}

.sideBarsects:nth-of-type(1)>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    align-items: center;
    grid-gap: 0.5em;
    padding: 0.5em 0;
}

.hmenu_contact {
    font-family: JioLight;
    padding-bottom: 45px;
    padding: calc(16px + 0.8em);
    padding-top: 0;
}

