.dropbtn { 
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
}

.dropdown-content {
    font-size: 14px;
    font-weight: 500;
    display: none;
    position: absolute;
    background-color: #ededef;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.one{
    width: 400px;
    margin-top:310px;
}
.two{
    width: 450px;
    margin-top:310px;
}
.three{
    width: 450px;
    margin-top:530px;
}
.four{
    width: 200px;
    margin-top:260px;
}
.five{
    width: 200px;
    margin-top:492px;
}
.six{
    width: 105px;
    margin-top:105px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color: #008ecc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */